.container {
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    height: 1000px;
    width: 100%;
    max-width: 100%;
    z-index: -10;
 } 

.introduction-1 {
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

.introduction-2 {
    position: absolute;
    width: 100%;
    left: 4%;
    top: 55%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

.introduction-3 {
    position: absolute;
    width: 100%;
    left: 4%;
    top: 60%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

@font-face {
    src: url(Fonts/ArchivoBlack-Regular.ttf);
    font-family: ArchivoBlack;
}

.hello {
    position: absolute;
    color: rgb(130, 205, 218);
    font-family: ArchivoBlack;
    font-size: 300px;
    left: 3%;
    top: -300px;
}

#sign1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 80%;
    height: 100px;
    width: 200px;
} 

#sign2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 80%;
    height: 100px;
    width: 200px;
}

#sign3 {
    position: absolute;
    margin-top: 250px;
    margin-left: 80%;
    height: 100px;
    width: 200px;
}

#sign4 {
    position: absolute;
    margin-top: 350px;
    margin-left: 80%;
    height: 100px;
    width: 200px;
}