.container {
    background: black;
    height: 5000px;
 } 

.introduction-1 {
    position: absolute;
    width: 100%;
    left: 100px;
    top: 50%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

.introduction-2 {
    position: absolute;
    width: 100%;
    left: 100px;
    top: 55%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

.introduction-3 {
    position: absolute;
    width: 100%;
    left: 100px;
    top: 60%;
    font-size: 30px;
    color: white;
    font-family: 'Mukta', sans-serif;
    z-index: +10;
    filter: blur(5px);
}

.block {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top: 0px;
    left: 0px;
}

@font-face {
    src: url(Fonts/ArchivoBlack-Regular.ttf);
    font-family: ArchivoBlack;
}

.hello {
    position: absolute;
    color: rgb(130, 205, 218);
    font-family: ArchivoBlack;
    font-size: 400px;
    left: 100px;
    top: -440px;
}

#sign1 {
    position: absolute;
    margin-top: 0px;
    margin-left: 1400px;
    height: 200px;
    width: 400px;
    z-index: +20;
} 

#sign2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 1400px;
    height: 200px;
    width: 400px;
    z-index: +20;
}

#sign3 {
    position: absolute;
    margin-top: 400px;
    margin-left: 1400px;
    height: 200px;
    width: 400px;
    z-index: +20;
}

#sign4 {
    position: absolute;
    margin-top: 600px;
    margin-left: 1400px;
    height: 200px;
    width: 400px;
    z-index: +20;
}