@font-face {
    src: url(Fonts/ArchivoBlack-Regular.ttf);
    font-family: ArchivoBlack;
}

body {
    background: black;
    height: 100%;
}

h1 {
    position: fixed;
    top: 80px;
    font-size: 20px;
    left: 10px;
    color: rgb(207, 153, 37);
    font-family: ArchivoBlack;
}

#home {
    color: rgb(207, 153, 37);
    position: fixed;
    top: 10px;
    left: 1%;
    font-family: ArchivoBlack;
    font-size: 20px;
    border-style: solid;
    border-width: medium;
    border-color: rgb(207, 153, 37);
    border-radius: 50px;
    width: 80px;
    text-align: center;
}

#title {
    position: relative;
    top: 10px;
    font-size: 40px;
    color: rgb(207, 153, 37);
    font-family: ArchivoBlack;
    left: 200px;
}

h2 {
    position: relative;
    color: rgb(207, 153, 37);
    top: 15px;
    left: 200px;
    font-family: ArchivoBlack;
    font-size: 20px;
    border-style: solid;
    border-width: medium;
    border-color: rgb(207, 153, 37);
    border-radius: 50px;
    width: 120px;
    text-align: center;
}

#Objective {
    position: relative;
    color: rgb(207, 153, 37);
    left: 200px;
    width: 950px;
    font-family: ArchivoBlack;
    font-size: 15px;
}

h3 {
    position: relative;
    color: rgb(207, 153, 37);
    top: 15px;
    left: 200px;
    font-family: ArchivoBlack;
    font-size: 20px;
    border-style: solid;
    border-width: medium;
    border-color: rgb(207, 153, 37);
    border-radius: 50px;
    width: 220px;
    text-align: center;
}

#siteRequirements {
    position: relative;
    color: rgb(207, 153, 37);
    left: 170px;
    width: 700px;
    font-family: ArchivoBlack;
    font-size: 15px;
}

#reflection {
    position: relative;
    color: rgb(207, 153, 37);
    left: 200px;
    width: 950px;
    font-family: ArchivoBlack;
    font-size: 15px;
    border-style: solid;
    border-width: medium;
    border-color: rgb(207, 153, 37);
    border-radius: 50px;
    padding: 25px;
    width: 950px;
}